body {
  font-family: 'Open Sans', sans-serif;
}

.title {
  font-size: 72px;
  font-weight: bolder;
}

.full {
  padding: 200px 0;
  background: url('https://st.depositphotos.com/1466799/1212/v/950/depositphotos_12124321-stock-illustration-vector-seamless-texture-with-waves.jpg') repeat center;
  background-size: contain;
}

.half {
  padding: 100px 20px;
}

.btn {
 background-color:  rgb(71, 11, 145);
 border-radius: 20px;
 color: #fff;
 padding: 10px 50px;
 border: 0;
 margin: 0 auto;
 align-self: center;
}

.store {
  width: 200px;
  padding: 20px;
}

.btn:hover{
  background-color: rgb(103, 29, 193);
  border: 0;
}

.img-box {
  width: auto;
  height: 300px;
  overflow: hidden;
  object-fit: cover;
}

@media only screen and (max-width: 768px) {
  .img-box {
    width: 100%;
    height: 100%;
  }
}